%ul.article
  %li
    = link_to article.title, article_path(article.id), class: "article__title"
    %br
    .article__under
      %span by
      = link_to article.user.nickname, user_path(article.user), class: "article__user"
      %span.post__time
        %time(datatime="#{article.created_at}")
          = time_ago_in_words(article.created_at)
      = article.liked_users.count
      %span goods
