.content
  .edit__form
    = form_with model: @article, local: true do |f|
      = f.text_field :title, placeholder: "タイトル", class: "edit__form__title form"
      %br/
      = f.text_field :tag_ids, value: @tag_list, placeholder: "タグを入力(複数つけるには、' , 'で区切ってください)", class: "edit__form__tag form"
      = f.text_area :content, placeholder: "テキストを入力", class: "edit__form__content form"
      = f.submit 'kangologに投稿', class: "edit__form__submit form"

