%h1 トップページ

%h2 menu
- if user_signed_in?
  = current_user.nickname
  = link_to 'マイページ', user_path(current_user.id)
  = link_to '新規投稿', new_article_path
  = link_to 'ログアウト', destroy_user_session_path, method: :delete
- else
  = link_to 'ログイン', new_user_session_path
  = link_to '新規登録', new_user_registration_path

%h2 記事検索
= form_with(url: search_articles_path, local: true, method: :get) do |f|
  = f.text_field :keyword, placeholder: '記事を検索する'
  = f.submit '検索'

%h2 Articles
= render @articles
