.new-posts__wrapper
  .new-posts__wrapper__form
    = form_with model: @article, local: true do |f|
      = f.text_field :tag_ids, class: "form-control", id:'tag_ids', placeholder: "タグをつける。複数つけには、','で区切ってください、"
      = f.text_field :title, placeholder: "タイトル", class: "new-posts__wrapper__form__title form"
      %br/
      = f.fields_for :images do |i|
        = i.file_field :src, class: "new-posts__wrapper__form__image"
        %br/
      = f.text_area :content, placeholder: "テキストを入力", class: "new-posts__wrapper__form__content form"
      %br/
      = f.submit 'kangologに投稿', class: "new-posts__wrapper__form__submit form"

