= render 'header'

.index
  %h2.index__search__head
    = "#{@articles.count}件の検索結果"
  .index__inner
    .article__search
      - if @articles.present?
        = render @articles
      - else
        %p.article__search__noarticle
          = "「#{params[:keyword]}」に一致する記事は見つかりませんでした。"
  = paginate(@articles)
  
= render 'footer'
