= render 'header'

.article__show
  .article__show__top
    .article__show__top__date
      = @article.created_at.strftime("%b %d %Y")
    - if user_signed_in? && current_user.id == @article.user_id
      .article__show__top__menu
        = link_to 'edit', edit_article_path(@article.id), class: "article__edit"
        = link_to 'delete', article_path(@article.id), method: :delete, class: "article__delete"
    -# %br/
  .article__show__title
    = @article.title   
  .article__show__content
    - if @article.images[0].present?
      = image_tag @article.images[0].src.to_s
    = simple_format @article.content


  %h2 コメント一覧
  - if @comments.present?
    - @comments.each do |comment|
      %p
        = link_to comment.user.nickname, user_path(comment.user_id)
        = comment.text
        - if user_signed_in? && current_user.id == comment.user.id 
          = link_to '編集する', edit_article_comment_path(@article, comment)
          = link_to '削除する', article_comment_path(@article, comment), method: :delete
  - else @comments
    %p コメントはまだありません。

  - if current_user
    = form_with(model: [@article, @comment], local: true) do |f|
      = f.text_area :text, placeholder: "コメントする", rows: "10"
      = f.submit "SEND"

= render 'footer'
