%h1 記事詳細ページ

= @article.title
= @article.created_at
= simple_format @article.content

- if user_signed_in? && current_user.id == @article.user_id
  = link_to '編集する', edit_article_path(@article.id)
  = link_to '削除する', article_path(@article.id), method: :delete

%h2 コメント一覧
- if @comments
  - @comments.each do |comment|
    %p
      = link_to comment.user.nickname, user_path(comment.user_id)
      = comment.text
      = link_to '削除する', "/articles/#{@article.id}/comments/#{comment.id}", method: :delete

- if current_user
  = form_with(model: [@article, @comment], local: true) do |f|
    = f.text_area :text, placeholder: "コメントする", rows: "10"
    = f.submit "SEND"

= link_to 'トップページに戻る', root_path
