記事詳細ページ

= @article.title
= @article.created_at
= simple_format @article.content

= link_to '編集する', edit_article_path(@article.id)
= link_to '削除する', article_path(@article.id), method: :delete

= link_to 'トップページに戻る', root_path
