.mypage
  .user__info
    .user__info__top
      .user__info__top__icon
        = image_tag (@user.image.url || asset_path("default.png"))
      .user__info__top__nickname
        = @user.nickname
    .user__info__bottom
      .user__info__bottom__article-count
        = @user.articles.count
        %p 投稿
      .user__info__bottom__like_count
        = @user.likes.count
        %p いいね
    - if user_signed_in? && current_user.id == @user.id
      .user__info__edit-link.submit-btn
        = link_to 'プロフィールを編集する', edit_user_path(@user)
      - if alert
        .guest__alert
          = alert
  = render partial: 'articles/article', locals: { '@articles': @articles, content_title: "投稿した記事" }
