.content
  .sign-in__form
    %p.sign-in__form__logo kangolog
    .sign-in__form__block
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "sign-in__form__block__email text__form"
        %br/
        = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "sign-in__form__block__password text__form"
        %br/
        .actions
          = f.submit class: "sign-in__form__block__submit-btn submit-btn", value: "Log in"
    .sign-in__form__guest-login.text__form 
      = link_to 'ゲストログイン', users_guest_sign_in_path, class: "guest-login__link", method: :post
